extends ../_common/base.jade
include ../_common/mixins.jade

block title
  title Kitchen Week - Week Summary

block content

  +header('This is the end of a great era!')

  tr
    td(colspan="2").content-block
      br
      h4 Dear #[+firstNames(thisWeek.names)]!
      | This week has come to an end, which means that you are hereby relieved of your duties as kitchen heroes.

  tr
    td(colspan="2").content-block This is a summary of all the feedback you have received during this week:

  +results(images, thisWeek.feedback)

  tr
    td(colspan="2").content-block
      - var arr = [];
      - arr.push("You guys will surely go down in history as some of greatest kitchen heroes ever!")
      - arr.push("Your heroic achievements will be praised in weeks to come!")
      - arr.push("Guess what you would find if you look up 'kitchen hero' in the dictionary? Thats right, you guys!")
      - arr.push("If there was a kitchen hero mountain your faces would no doubt be carved in to it!")

      | You therefore receive a score of #[+score(thisWeek.feedback)]. Wow! Just wow! #[+sample(arr)]

  tr
    td(colspan="2").content-block.highscore
      h4 This years top #{highscore.length} highscore

      each score, index in highscore
        p #[+highscorePosition(index)] <strong>#{score.score}</strong> (#{score.names} - w. #{score.week})
          | #{score.week === thisWeek.week ? '⬅ Hey, nice going!' : ''}

  include ../_common/partials/footer.jade
