
//- Client ---------------------

mixin feedbackButton(index, feedbackTypes, images)
  .feedback-button(data-type='#{feedbackTypes[index]}')
    .img-wrapper
      .overlay
      img(src="#{images[index].url}")
    h3 #{images[index].tag}


//- Mails -----------------------

mixin header(titles)
  tr
    td(colspan="2").header
      if titles
        h1 #[+sample(titles)]
      else
        - var daysDone = new Date().getDay();
        - var daysLeft = 5 - daysDone;
        h1 #{daysDone} days down, #{daysLeft} more to go!

mixin results(images, feedback, totalOrToday)
  tr
  each val in [0, 1]
    td.content-block.col-split
      img(src="#{images[val].url}" height="160")
      br
      br
      div.result-wrapper
        span.positive #{feedback[val][totalOrToday]}
        br
        span.description #{images[val].tag}

mixin sample(arr)
  - var sliced = arr.splice(Math.floor(Math.random() * (arr.length)), 1);
  = sliced

mixin score(feedback)
  | That makes a total of <strong>#{feedback[0].total + feedback[1].total} praises</strong> (#{feedback[0].total} + #{feedback[1].total})

mixin fullNames(names)
  if names[0] && names[1]
    = names[0] + ' & ' + names[1]
  else if names[0]
    = names[0]

mixin truncatedNames(names)
  if names[0] && names[1]
    - var name1 = names[0].split(' ');
    - var name2 = names[1].split(' ');
    | #{name1[0]} #{name1[1][0]}. & #{name2[0]} #{name2[1][0]}.
  else if names[0]
    - var name1 = names[0].split(' ');
    | #{name1[0]} #{name1[1][0]}.

mixin firstNames(names)
  if names[0] && names[1]
    = names[0].split(' ')[0] + ' & ' + names[1].split(' ')[0]
  else if names[0]
    = names[0].split(' ')[0]

mixin highscorePosition(index)
  != index ? (index + 1) + ".&nbsp;&nbsp;" : '👑'

mixin feedbackTypes(feedbackTypes)
  = feedbackTypes[0].split(' ').join('-') + ' & ' + feedbackTypes[1].split(' ').join('-')

mixin footer(text)
  tr
    td(colspan="2").footer
      if text
        p!= text
      else
        p Mail looks strange? Have improvement ideas? Talk to <a href="mailto:simon.johansson@screeninteraction.com">Simon</a> (the tall one).

mixin row(className)
  tr
    td(colspan="2" class='#{className} content-block')
      block

mixin top5(isTop5)
  if isTop5
    <span> ⬅ Hey, nice going!</span>
