extends ../_common/base.jade
include ../_common/mixins.jade

block title
  title Kitchen Week - Reminder

block content

  +header('Kitchen heroes, unite!')

  tr
    td(colspan="2").content-block
      br
      h4 Hello #{thisWeek.names[0]} & #{thisWeek.names[1]}!
      | As kitchen heroes, your duties consists of the following: ...

  tr
    td(colspan="2").content-block
      | Last weeks kitchen heroes was #{prevWeek.names[0]} & #{prevWeek.names[1]}, they got:

  +results(images, prevWeek.feedback.positive.total, prevWeek.feedback.negative.total)

  tr
    td(colspan="2").content-block
      | They therefore received a score of
      | <strong>#{prevWeek.feedback.positive.total - prevWeek.feedback.negative.total}</strong> (#{prevWeek.feedback.positive.total} - #{prevWeek.feedback.negative.total}).
      | Think you can beat that?

  include ../_common/partials/footer.jade

